.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px 20px;
  min-width: 500px;
}

.User{
  min-width: 200px;
  background-color: rgb(229, 225, 219);
  border-radius: 10%;
  opacity: 0.9;
}

.Pic {
  border-radius: 50%;
}
